body {
  background-color: $white;
  color: $black;
  font-family: $body-font-family;
  margin: 0;
  min-height: 100vh;
  opacity: 0;
  padding: 0;

  a:link,
  a:visited {
    color: $np-mint;
    text-decoration: none;
    transition: $fast-animated;
  }

  a:hover,
  a:active {
    color: inherit;
    opacity: .9;
    transition: $fast-animated;
  }

  .blindhelper {
    clip: rect(0, 0, 0, 0);
    position: absolute;      
  }
}

h1 {
  font-size: 84px;
}

.separator {
  color: $np-mint;
  font-size: inherit;
  font-weight: bold;
}

.np-button {
  background: $dark-gray;
  border-radius: .25rem;
  height: 40px;
  padding: .25rem;
  transform: rotate(45deg);
  width: 40px;
  z-index: 1;

  svg {
    height: 75%;
    transform: rotate(-45deg) translate(20%, 20%);
    width: 75%;
  }
}

.np-link {
  @include flex-grid-row();
  margin: 2rem auto 1rem;
  width: 100%;

  @include breakpoint(xlarge) {
    margin: 2rem auto;
  }

  &__inner {
    @include flex-grid-column(12);
    padding: 0;
    text-align: center;

    @include breakpoint(medium) {
      padding: 0 0 0 1rem;
      text-align: left;
    }
  }

  span {
    border-bottom: 2px solid $np-mint;
    color: inherit;
    display: inline-block;
    font-size: 1.25rem;
    margin: 0 auto;
    transition: $fast-animated;

    @include breakpoint(medium) {
      font-size: 1.75rem;
      margin: 0;
    }
  }
}

.wpcf7 {
  .screen-reader-response {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }

  .wpcf7-form {
    @include flex-grid-column(12, 0);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: relative;
    width: 100%;

    .wpcf7-hidden {
      display: none;
      visibility: hidden;
    }

    .callout {
      border: 0;
      border-radius: 0;
      width: 100%;
    }

    .is-invalid-label {
      color: #ec5840;
    }
    
    .is-invalid-input {
      border-color: #ec5840;
      box-shadow: #ec5840;
    }
  }

  label {
    color: $dark-gray;
    width: 100%;
  }

  .wpcf7-list-item {
    margin: 0;
  }

  .privacy {
    margin: 0 .25rem 0 auto;
  }

  .g-recaptcha {
    margin: 0 0 0 .5rem;
    transform: scale(.77);
    transform-origin: left;

    @include breakpoint(medium) {
      margin: 0 -.5rem 0 0;
      transform: scale(.7);
      transform-origin: bottom;
    }

    @include breakpoint(750px) {
      transform: scale(.9);
    }

    @include breakpoint(large) {
      margin: 0 auto 0 -1.5rem;
      transform: scale(.75);
    }

    @include breakpoint(1440px) {
      margin: 0 -.5rem 0 0;
      transform: scale(.9);
    }

    @include breakpoint(xxlarge) {
      margin: 0 .5rem 0 0;
      transform: scale(1);
    }

    &>div {
      margin: 0 auto 0 0;

      @include breakpoint(medium) {
        margin: 0 0 0 auto;
      }
    }
  }

  .robot {
    color: $np-red;
    display: none;
    font-size: .8rem;
    padding: 1rem .5rem;

    @include breakpoint(medium) {
      text-align: right;
    }
  }

  .wpcf7-not-valid-tip {
    color: $np-red;
    display: block;
    font-size: .8rem;
  }

  .wpcf7-not-valid {
    border-color: $np-red;

    input[type="checkbox"] {
      box-shadow: inset 0 0 0 1px $np-red;
    }
  }

  .wpcf7-validation-errors,
  .wpcf7-response-output {
    background-color: $np-red;
    border: 0;
    color: $white;
    display: none;
    font-size: .9rem;
    padding: .25rem 1rem;
    margin: 0 .5rem;
    width: 100%;
  }

  .wpcf7-mail-sent-ok {
    background-color: $np-mint;
  }

  p {
    @include flex-grid-column(12, 0);
    display: flex;
    margin: 0;
    width: 100%;
  }

  .input-full {
    display: flex;
    width: 100%;
  }

  .input-2-col {
    align-self: center;
    width: 100%;

    &.no-padding {
      padding-left: 0;
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  .privacy-field {
    margin: 1rem 0 1.5rem;
    padding-left: 1rem;
    text-align: left;

    @media screen and (max-width: 400px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .submit-field {
    justify-content: center;
    text-align: center;

    @media screen and (max-width: 400px) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include breakpoint(medium) {
      justify-content: flex-end;
      text-align: right;
    }
  }

  input[type="text"],
  input[type="email"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $dark-gray;
    border-radius: 0;
    box-shadow: none;
    color: $dark-gray;
  }

  input[type="text"]:focus,
  input[type="email"]:focus {
    background: transparent;
    border-bottom: 1px solid $np-mint;
  }

  input[type="checkbox"] {
    height: 23px;
    margin: 0 .25rem 0 0;
    vertical-align: top;
    width: 23px;

    @include breakpoint(1600px) {
      height: 30px;
      margin: 0 .5rem 0 0;
      width: 30px;
    }
  }

  textarea {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $dark-gray;
    border-radius: 0;
    box-shadow: none;
    color: $dark-gray;
    height: 75px;
    line-height: 1.1rem;
    resize: none;
  }

  textarea:focus {
    border-color: $np-mint;
    box-shadow: none;
  }

  #submit {
    font-size: .9rem;

    @include breakpoint(xlarge) {
      font-size: 1.1rem;
    }
  }
}

.orbit-next,
.orbit-prev {
  @include breakpoint(medium down) {
    padding: 0;
  }
}

.orbit-previous:focus, .orbit-next:focus {
  background-color: transparent !important;
}

.scrolldown {
  position: relative;
  z-index: 0;
}

.scrolldown-arrow {
  background-color: $dark-gray;
  background-image: url('../img/scrolldown_arrow.svg');
  background-position: 75% 75%;
  background-repeat: no-repeat;
  background-size: 60px;
  border-radius: .6rem;
  cursor: pointer;
  height: 90px;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 100%;
  transform: rotate(45deg) translate(-73%, 2%);
  transition: $fast-animated;
  width: 90px;
  z-index: 2;

  &:hover {
    transform: rotate(45deg) translate(-87%, -15%);
    transition: $fast-animated;
  }
}

