<div id="contatti" class="contatti" {% if component.contatti_bg %} style="background: {{component.contatti_bg}};"{% endif %}>
  <div class="contatti__inner" {% if component.contatti_txt_color %} style="color: {{component.contatti_txt_color}};"{% endif %}>
    {% if component.contatti_txt %}
      <div class="contatti__txt">
        {{component.contatti_txt|raw}}
      </div>
    {% endif %}
    <div class="form contatti__form">
      <div class="form__inner">
        <div class="wpcf7" id="wpcf7-form" lang="it-IT" dir="ltr">
          <div class="blindhelper screen-reader-response">Form di contatto</div>
          <form class="wpcf7-form" action="/grazie" method="post" accept-charset="utf-8" data-abide>
            <div data-abide-error class="alert callout" style="display: none;">
              <p><i class="fi-alert"></i> Per favore, controlla di aver compilato correttamente tutti i campi obbligatori.</p>
            </div>

            <div class="small-12 medium-6 columns input-2-col">
              <label for="nome">Nome e cognome*
                <input type="text" id="nome" name="nome" value="" class="" required aria-describedby="name-required"/>
                <span class="form-error" id="name-required">
                  Inserisci il tuo Nome e Cognome
                </span>
              </label>
            </div>

            <div class="small-12 medium-6 columns input-2-col">
              <label for="email">La tua e-mail*
                <input type="email" name="email" value="" size="40" class="wpcf7-email" required />
                <span class="form-error">
                  Inserisci il tuo indirizzo Email
                </span>
              </label>
            </div>

            <div class="small-12 medium-6 columns input-2-col">
              <label for="messaggio">Lascia qui il tuo messaggio
                <span class="messaggio">
                  <textarea name="messaggio" cols="40" rows="10" class=""></textarea>
                </span>
              </label>
            </div>

            <div class="small-12 medium-6 columns input-2-col wpcf7-hidden">
              <label for="landing">
                <input type="text" name="landing" value="versione {{versione}}" size="40" class=""/>
              </label>
            </div>

            <div class="small-9 medium-6 input-2-col no-padding">
              <div class="g-recaptcha" data-theme="light" data-sitekey="6Ldn_xsTAAAAAO07iDzqcip6I2qZUOB8jkUm9pBd"></div>
              <div class="robot">
                <i style="color: #ff3333;" class="fa fa-user-secret" aria-hidden="true"></i> Per favore, dimostraci di non essere un robot.
              </div>
            </div>

            <div class="small-9 medium-6 columns input-2-col privacy-field">
              <label>
                <span class="privacy">
                  <span class="wpcf7-checkbox">
                      <input type="checkbox" name="privacy" value="Accetto" required />
                      <span class="wpcf7-list-item-label">Accetto</span>
                  </span>
                </span> 
                <a href="https://www.iubenda.com/privacy-policy/685066" target="_blank"> l'informativa sulla privacy</a>
              </label>
            </div>

            <div class="small-3 medium-6 input-2-col columns submit-field">
              <input id="submit" class="large button np-act-button" type="submit" value="SCRIVICI!">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
