<div class="progetti-correlati" {% if component.progetti_bg %}style="background: {{component.progetti_bg}};"{% endif %}>
	<div class="progetti-correlati__inner">
		<div id="progetti" class="np-link">
			<div class="np-link__inner">
				<span>{{ component.progetti_correlati_titolo}}</span>
			</div>
		</div>
	</div>
	{% for progetto in component.progetti %}
		<div class="progetto progetto--rel-box2x2">
		  <a class="progetto__link" href="{{progetto.progetto_link}}" target="_blank">
		    <div class="progetto__thumb">
		      <img class="thumb-img" src="{{ attribute(progetto.progetto_img.sizes, 'fp-servizi') }}" width="1024px" height="1024px" alt="Progetto - {{progetto.progetto_title}}"/>
		      <div class="progetto__inner">
		        <div class="progetto__name">
		          {% if progetto.progetto_logo %}
		            <img src="{{attribute(progetto.progetto_logo.sizes, 'fp-servizi-mobile')}}" width="150px" height="150px" alt="{{progetto.progetto_title}}"/>
		          {% else %}
		          	<h4>{{ progetto.progetto_title }}</h4>
		          {% endif %}
		          <div class="progetto__jobs">
		          	{% if progetto.progetto_txt %}
		          		<div class="progetto__descrizione">
		          			{{ progetto.progetto_txt}}
		          		</div>
		          	{% endif %}
		            <div class="np-button np-swinging infinite">
		            	<svg version="1.1" id="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		            		 width="1000px" height="1000px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
		            		<g opacity="0.8">
		            			<g style="fill:#FFFFFF;">
		            				<path fill="inherit" d="M325.965,119.238l313.781,313.748c18.08,18.082,28.12,42.21,28.12,67.836
		            					c0,25.57-10.04,49.699-28.12,67.809L325.965,882.322v51.891l339.703-339.651c25.074-25.044,38.811-58.351,38.811-93.739
		            					c0-35.415-13.736-68.724-38.811-93.794L325.965,67.432V119.238z"/>
		            				<path fill="inherit" d="M314.965,960.767v-83.002l317.004-316.913c16.053-16.078,24.897-37.4,24.897-60.029
		            					c0-22.671-8.843-44-24.898-60.058L314.965,123.795V40.882l358.48,358.367c27.105,27.102,42.033,63.175,42.033,101.574
		            					c0,38.393-14.929,74.447-42.037,101.522L314.965,960.767z"/>
		            			</g>
		            		</g>
		            	</svg>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </a>
		</div>
	{% endfor %}
</div>