{% if component.footer_info %}
  <footer class="footer" {% if component.footer_bg %} style="background: {{component.footer_bg}};"{% endif %}>
    <div class="footer__inner" {% if component.footer_txt_color %} style="color: {{component.footer_txt_color}};"{% endif %}>
      {% if component.footer_info %}
        <div class="footer__box">
          {{ component.footer_info|raw }}
        </div>
      {% endif %}
      {% if component.footer_info_2 %}
        <div class="footer__box">
          {{ component.footer_info_2|raw }}
        </div>
      {% endif %}
      {% if component.footer_info_3 %}
        <div class="footer__box">
          {{ component.footer_info_3|raw }}
        </div>
      {% endif %}
      <div class="credits">
        <ul class="no-bullet">
          <li class="credits__item"><a href="https://www.iubenda.com/privacy-policy/685066" target="_blank">Privacy policy</a></li>
          <li class="credits__item"><a href="https://www.iubenda.com/privacy-policy/685066/cookie-policy" target="_blank">Cookie policy</a></li>
          <li class="credits__item"><a href="https://www.nodopiano.it" target="_blank">Credits</a></li>
        </ul>
      </div>
    </div>
  </footer>
{% endif %}