<header class="header" {% if component.header_bg %} style="background: {{component.header_bg}};"{% endif %} data-sticky-container>
  <div class="header__inner sticky" role="navigation" data-sticky data-stick-to="top" data-top-anchor="200">
    <div class="header__logo" {% if component.header_bg %} style="background: {{component.header_bg}};"{% endif %}>
      <h1 class="blindhelper" itemprop="name">{{data.title.rendered}}</h1>
      <a href="/">
        <svg version="1.1" class="Logo_Nodopiano" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="110.667px" height="158px" viewBox="0 0 110.667 158" enable-background="new 0 0 110.667 158"
        xml:space="preserve">
        <g fill="#ffffff">
          <g class="lettering" fill="inherit">
              <path fill="#FFFFFF" d="M16.417,152.266h-1.879l-5.325-11.998v11.998H7.189v-16.986h1.879l5.325,12.119v-12.119h2.024V152.266z"/>
              <path fill="#FFFFFF" d="M19.186,147.64v-7.733c0-2.844,1.879-4.844,4.602-4.844c2.674,0,4.602,2,4.602,4.844v7.733
              c0,2.843-1.927,4.819-4.602,4.819C21.065,152.459,19.186,150.482,19.186,147.64z M26.342,147.712v-7.903
              c0-1.854-1.132-2.77-2.554-2.77c-1.374,0-2.578,0.843-2.578,2.77v7.903c0,1.855,1.132,2.771,2.578,2.771
              C25.113,150.482,26.342,149.64,26.342,147.712z"/>
              <path fill="#FFFFFF" d="M40.17,141.255v5.204c0,4.096-1.47,5.807-4.626,5.807h-4.409v-16.986h4.409
              C38.7,135.328,40.17,137.158,40.17,141.255z M35.352,137.256h-2.193v13.059h2.193c2.048,0,2.794-0.82,2.794-4.506v-5.421
              C38.146,137.81,36.917,137.256,35.352,137.256z"/>
              <path fill="#FFFFFF" d="M42.53,147.64v-7.733c0-2.844,1.879-4.844,4.602-4.844c2.674,0,4.602,2,4.602,4.844v7.733
              c0,2.843-1.927,4.819-4.602,4.819C44.409,152.459,42.53,150.482,42.53,147.64z M49.686,147.712v-7.903
              c0-1.854-1.132-2.77-2.554-2.77c-1.374,0-2.578,0.843-2.578,2.77v7.903c0,1.855,1.132,2.771,2.578,2.771
              C48.457,150.482,49.686,149.64,49.686,147.712z"/>
              <path fill="#FFFFFF" d="M54.478,152.266v-16.986h4.121c3.012,0,4.649,2.049,4.649,5.687v1.084c0,3.662-1.638,5.614-4.649,5.614
              h-2.097v4.602H54.478z M56.502,137.256v8.456h1.928c1.782,0,2.819-0.964,2.819-3.47v-1.493c0-2.675-1.085-3.493-2.819-3.493H56.502
              z"/>
              <path fill="#FFFFFF" d="M67.8,152.266h-2v-16.986h2V152.266z"/>
              <path fill="#FFFFFF" d="M77.605,148.459H72.69l-0.939,3.807h-2.072l4.385-16.986h2.217l4.313,16.986h-2.072L77.605,148.459z
              M73.101,146.676h4.119l-2.023-8.529L73.101,146.676z"/>
              <path fill="#FFFFFF" d="M91.65,152.266h-1.88l-5.324-11.998v11.998h-2.023v-16.986h1.879l5.324,12.119v-12.119h2.024V152.266z"/>
              <path fill="#FFFFFF" d="M94.419,147.64v-7.733c0-2.844,1.88-4.844,4.603-4.844c2.675,0,4.602,2,4.602,4.844v7.733
              c0,2.843-1.927,4.819-4.602,4.819C96.299,152.459,94.419,150.482,94.419,147.64z M101.575,147.712v-7.903
              c0-1.854-1.133-2.77-2.554-2.77c-1.374,0-2.578,0.843-2.578,2.77v7.903c0,1.855,1.132,2.771,2.578,2.771
              C100.347,150.482,101.575,149.64,101.575,147.712z"/>
            </g>
          </g>
          <path fill="#FFFFFF" d="M45.828,98.665c2.479,2.479,5.78,3.845,9.295,3.845s6.817-1.365,9.296-3.845l35.244-35.244
          c2.483-2.484,3.851-5.785,3.851-9.296c0-3.51-1.367-6.812-3.851-9.296L64.419,9.585c-2.482-2.482-5.784-3.85-9.296-3.85
          s-6.813,1.368-9.295,3.85L10.583,44.829c-2.484,2.484-3.851,5.786-3.851,9.296c0,3.511,1.367,6.812,3.851,9.296L45.828,98.665z
          M9.511,54.125c0-2.77,1.079-5.374,3.037-7.332l35.243-35.244c1.959-1.958,4.563-3.037,7.332-3.037c2.77,0,5.375,1.079,7.333,3.037
          l35.242,35.244c1.959,1.959,3.037,4.563,3.037,7.332c0,2.77-1.078,5.374-3.037,7.332L62.456,96.701
          c-1.959,1.957-4.563,3.037-7.333,3.037c-2.769,0-5.373-1.08-7.332-3.037L12.547,61.457C10.589,59.499,9.511,56.896,9.511,54.125"/>
          <path fill="#FFFFFF" d="M47.761,32.313c1.953-1.953,4.544-3.027,7.303-3.027h0.065c2.755,0,5.346,1.074,7.299,3.027l29.371,29.369
          l1.961-1.961L64.39,30.353c-2.475-2.475-5.775-3.843-9.296-3.852c-3.52,0.009-6.82,1.377-9.295,3.852L16.447,59.704l1.961,1.962
          L47.761,32.313z"/>
          <path fill="#FFFFFF" d="M101.222,67.534l-2.006,2.005l0.188,0.331c0.859,1.515,1.308,3.252,1.3,5.026
          c0.008,2.768-1.067,5.372-3.028,7.333l-35.246,35.246c-1.962,1.961-4.566,3.021-7.336,3.027c-2.757,0.041-5.359-1.069-7.325-3.035
          L12.515,82.229c-1.961-1.978-3.037-4.581-3.029-7.335c0-1.783,0.455-3.539,1.317-5.078l0.185-0.33l-2.011-2.012l-0.332,0.538
          c-1.272,2.061-1.944,4.441-1.944,6.883c0.008,3.517,1.375,6.817,3.851,9.295l35.247,35.246c2.474,2.474,5.775,3.842,9.297,3.851
          c3.52-0.009,6.82-1.377,9.293-3.851L99.638,84.19c4.313-4.314,5.1-10.941,1.915-16.118L101.222,67.534z"/>
        </g>
      </svg>
    </a>
  </div>
  <nav class="header__menu">
    <ul class="menu__inner no-bullet">
      {% for menu_item in component.header_menu %}
      <li class="menu__item">
        <a href="{{menu_item.header_menu_link}}" {% if '#' in menu_item.header_menu_link %}class="np-anchor"{% endif %} {% if component.header_txt_color %}style="color: {{component.header_txt_color}};" {% endif %}>{{menu_item.header_menu_label}}</a>
      </li>
      {% if not loop.last %}
      <span class="separator"> / </span>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
</header>
