<div class="map-container">
  <div class="map-overlay"></div>
  <div id="map" class="map" data-lat="{{component.mappa.lat}}" data-lng="{{component.mappa.lng}}"></div>
</div>

<script type="text/javascript">
  function initMap() {
    var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)cb-enabled\s*\=\s*([^;]*).*$)|^.*$/, "$1");
    if(cookieValue == 'accepted') {
    var myLatLng = {lat: {{component.mappa.lat}}, lng: {{component.mappa.lng}}};
    var customStyle = {{ component.stile ? component.stile|raw : '""' }};

    if(customStyle !== ''){
      var style = customStyle;
    } else {
      var style = [{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}];
    };

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: myLatLng,
      styles: style
    });

    var icon = 'assets/img/pin@2x.svg';

    var marker = new google.maps.Marker({
      icon: icon,
      position: myLatLng,
      map: map,
      title: '{{component.mappa.address}}'
    });
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{google_api}}&callback=initMap" async defer></script>
