<div id="servizi" class="pillole scrolldown" {% if component.pillole_bg %} style="background: {{component.pillole_bg}};"{% endif %}>
	<div class="pillole__inner">
		{% for pillola in component.pillola %}
		<div class="pillola" {% if pillola.pillola_txt_color %} style="color: {{pillola.pillola_txt_color}};"{% endif %}>
			<div class="pillola__number">{{loop.index}}</div>
			<div class="pillola__title">{{pillola.pillola_title}}</div>
			<div class="pillola__txt">
				{{pillola.pillola_txt|raw}}
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="scrolldown-arrow upper np-floating-bg animated infinite"></div>
</div>