<div class="slideshow orbit" role="region" aria-label="{{data.title.rendered}}" data-orbit
 data-options="animInFromLeft:scale-in-down; animInFromRight:scale-in-down; animOutToLeft:fade-out; animOutToRight:fade-out;" data-timer-delay="5000">
  <ul class="slideshow__inner orbit-container">
    {% if component.slide|length > 1 %}
      <button class="orbit-previous"><span class="show-for-sr">Slide precedente</span></button>
      <button class="orbit-next"><span class="show-for-sr">Slide successiva</span></button>
    {% endif %}
    {% for slide in component.slide %}
      <li class="slide {% if loop.first %} is-active {% endif %} orbit-slide" {% if slide.slide_bg %} style="background: linear-gradient(to right, {{slide.slide_bg}} 0%, {{slide.slide_bg}} 40%, rgba(0, 0, 0, 0) 75%);"{% endif %}>
        <img class="slide__image orbit-image"
        data-interchange="
        [{{ attribute(slide.slide_img.sizes, 'fp-small') }}, small],
        [{{ attribute(slide.slide_img.sizes, 'large') }}, medium],
        [{{ attribute(slide.slide_img.sizes, 'fp-xlarge') }}, large],
        [{{ attribute(slide.slide_img.sizes, 'featured-xlarge') }}, only screen and (min-width: 1441px)]"
        src="{{ attribute(slide.slide_img.sizes, 'featured-xlarge') }}" width="1920px" height="600px" alt="{{slide.slide_img.alt}}">
        <figcaption class="slide__caption">
          <div class="caption__inner" {% if slide.slide_txt_color %}style="color: {{slide.slide_txt_color}};"{% endif %}>
            <div class="caption__title">
              <strong>{{slide.slide_title}}</strong>
            </div>
            <div class="caption__txt">
              {{slide.slide_txt|raw}}
            </div>
            {% if slide.slide_link_label %}
              <div class="caption__link">
                <a href="{{slide.slide_link_url}}" class="np-anchor">
                  <button class="button large">{{slide.slide_link_label}}</button>
                </a>
              </div>
            {% endif %}
          </div>
        </figcaption>
      </li>
    {% endfor %}
  </ul>
</div>
