{% extends "app.html" %}

{% block content %}
<div id="page-404" class="page--404">
	<div class="page-404__inner">
		<div class="page-404__logo">
			<img src="assets/img/alphapage_logo.png" width="336px" height="168px" alt="Alphapage - Nodopiano"/>
		</div>
		<h1>404</h1>
		<p>route not found.</p>
	</div>
</div>
{% endblock %} 

