.contatti {
  @include flex-grid-column(12, 0);
  padding: 0 0 2rem;

  @include breakpoint(large) {
    padding: 2rem 0;
  }

  &__inner {
    @include flex-grid-row();
    margin: 0 auto;
  }

  &__txt {
  	@include flex-grid-column(12, 0);
    background: url('../img/frecce-footer-down.svg');
    background-position: center 95%;
    background-repeat: no-repeat;
    background-size: 34% auto;
    color: inherit;
    font-size: 1.5rem;
    padding: 0 2rem 4rem;
    text-align: center;
  	width: 100%;

    @include breakpoint(medium) {
      background-position: center 80%;
      background-repeat: no-repeat;
      background-size: 50% auto;
      padding: 0 2rem 2rem;
    }

    @include breakpoint(large) {
      @include flex-grid-column(4, 0);
      background: url('../img/frecce-footer.svg');
      background-position: 90% top;
      background-repeat: no-repeat;
      background-size: auto 100%;
      padding: 0 2rem;
      text-align: left;
    }

    @include breakpoint(xlarge) {
      padding: 0;
    }

    *:not(a) {
      color: inherit;
    }
  } 

  .form {
  	@include flex-grid-column(12, 0);
    padding: 0 1rem;
  	width: 100%;

    @include breakpoint(large) {
      @include flex-grid-column(8, 0);
      padding: 0 2rem;
    }

    @include breakpoint(xlarge) {
      padding: 0;
    }

    &__inner {
      box-shadow: inset 0 0 0 3px $medium-gray;
      padding: 1rem .5rem;
      position: relative;
      transition: $fast-animated;
      z-index: 1;

      @include breakpoint(1600px) {
        padding: 1.5rem 1rem;
      }

      &::before,
      &::after {
        border: 3px solid transparent;
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        z-index: -1;
      }

      &::before {
        left: 0;
        top: 0;
        transition: width 0.25s ease-out 1s, height 0.25s ease-out .75s, border-color 0s ease-out 1.25s;
      }

      &::after {
        bottom: 0;
        right: 0;
        transition: border-color 0s ease-out 0.75s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.25s;
      }

      &:hover {

        &::before {
          border-top-color: $np-mint;
          border-right-color: $np-mint;
          height: 100%;
          transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
          width: 100%;
        }

        &::after {
          border-bottom-color: $np-mint;
          border-left-color: $np-mint;
          height: 100%;
          transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
          width: 100%;
        }
      }
    }
  }
}
