#cookie-bar {background:#3e3e3f; height:auto; min-height:48px; line-height:48px; color:#eeeeee; text-align:center; padding:8px 0; z-index: 10000;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:0;}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:3px 8px; margin-left:8px;}
#cookie-bar .cb-enable {background:#1db0b2;}
#cookie-bar .cb-enable:hover {background:#1db0b2;}
#cookie-bar .cb-disable {background:#ec7f67;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:rgba(255,255,255,.8); color: #3e3e3f;}
#cookie-bar .cb-policy:hover {background:rgba(255,255,255,.8);} 
