.footer {
  &__inner {
    @include flex-grid-row();
    color: $white;
    padding: 1.5rem 1rem; 
    width: 100%;
    
    @include breakpoint(large) {
      padding: 1.5rem 0; 
    }

    p {
      color: inherit;
      width: 100%;
    }

    .credits {
      @include flex-grid-column(12, 0);
      color: $white;
      text-align: center;
      width: 100%;

      ul {
        margin: 0;
        padding: 0;
      }

      &__item {
        display: inline-block;
        margin: .5rem 1rem;
      }
    }
  }

  &__box {
    @include flex-grid-column(12);
    color: inherit;

    @include breakpoint(medium) {
      @include flex-grid-column(4);
    }
  }
}
