.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  &__inner {
    @include flex-grid-row();
    height: auto;
    justify-content: space-between;
    max-width: 75rem !important;
    padding: 0;
    position: static !important;
    width: 100%;

    @include breakpoint(medium) {
      height: 60px;
      justify-content: flex-start;
    }

    &.is-stuck {
      margin: 0 auto !important;
      width: 100%;

      .header__logo {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100px;

        @include breakpoint(large) {
          width: 150px;          
        }

        svg {
          height: 60px;
          margin-top: 1rem;
          width: 39px;
        }
      }

      .lettering {
        display: none;
      }

      .Logo_Nodopiano {
        height: 50px;
        width: auto;

        &>g {
          fill: $white;
        }
      }
    }
  }

  &__title {
    text-align: center;
    width: 100%;

    h1 {
      font-size: 1.1rem;

      @include breakpoint(medium) {
        font-size: 2rem;
      }

      @include breakpoint(large) {
        font-size: 3rem;
      }

      @include breakpoint(xlarge) {
        font-size: 4rem;
      }
    } 
  }

  &__logo {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 75px;

    @include breakpoint(330px) {
      margin: 0;
      padding: 0 0 0 1rem;
    }

    @include breakpoint(medium) {
      @include grid-column-offset(1);
      height: 100px;
      padding: 0;
      width: 100px;
    }

    @include breakpoint(large) {
      height: 150px;
      width: 150px;
    }

    @include breakpoint(1440px) {
      @include grid-column-offset(0);
    }

    .lettering {
      display: none;

       @include breakpoint(medium) {
          display: block;        
       }
    }

    svg {
      height: 60px;
      margin-top: 1rem;
      width: 39px;

      @include breakpoint(medium) {
        height: 70px;
        margin-top: 0;
        width: 46px;
      }

      @include breakpoint(large) {
        height: 122px;
        width: 80px;  
      }
    }
  
    img {
      align-self: center;
      height: auto;
      width: auto;
      max-height: 90px;
    }
  }

  &__menu {
    @include flex-grid-column(12, 0);
    align-items: center;
    background: inherit;
    display: flex;
    justify-content: center;
    padding: 0 0 .5rem;
    width: 100%;

    @include breakpoint(330px) {
      @include flex-grid-column(9, 0);
      background: transparent;
      justify-content: flex-end;
      padding: 0 1rem 0 0;
    }

    @include breakpoint(medium) {
      @include flex-grid-column(9, 0);
      padding: 0 3rem;
    }

    @include breakpoint(1440px) {
      @include flex-grid-column(12, 0);
      max-width: calc(100% - 150px);
      width: 100%;
    }
  }

  .menu{

    &__inner{
      margin: 0;
      padding: 0;
    }

    &__item {
      color: $white;
      display: inline-block;
      font-family: "korolev-condensed", sans-serif;
      font-size: .85rem;
      margin: 0 .25rem;
      text-transform: uppercase;

      @include breakpoint(medium) {
        font-size: inherit;
      }

      a {
        color: $white;
        font-family: inherit;
        font-size: inherit;
        font-weight: bold;
        transition: $fast-animated;
      }

      a:hover {
        color: $np-mint;
        transition: $fast-animated;
      }
    }
  }
}
