@mixin progetti {

  a {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 100%;
  }

  &__thumb {
    display: block;
    position: relative;
    width: 100%;

    .thumb-img {
      transition: $fast-animated;
      width: 100%;
    }

    &:hover {
      background: $black;

      .progetto__inner {
        transform: rotateY(180deg);
        transition: $fast-animated;
      }

      .thumb-img {
        opacity: .5;
        transition: $fast-animated;
      }

      .progetto__jobs {
        background: $white;
        color: $black;
        display: block;
        opacity: 1;
        transform: rotateY(180deg);
        transform-origin: center center;
        transition: color .5s, opacity .25s;

        .np-button {
          animation-duration: 1.4s;
          opacity: 1;
          transition: opacity .5s;
        }
      }
    }
  }

  &--rel-box1x1 {

    .progetto__inner {
      background: $medium-gray;
      flex-wrap: wrap;
      height: 100%;
      margin: 0;
      width: 100%;

      img {
        height: auto;
        width: 38%;

        @include breakpoint(medium) {
          width: 100%;
        }
      }
    }

    .progetto__inner {
      
      &::after {
        height: 100px;
        padding-bottom: 100px;
      }
    }

    .progetto__thumb {
      background: transparent;
      max-height: 175px;

      &:hover {
        &::after {
          background: transparent;
          transition: $fast-animated;
        }
      }
    }

    @include breakpoint(medium) {
      .progetto__thumb {
        max-height: initial;
      }
    }

    &:hover {
      .progetto__jobs {
        background: $np-mint;
        color: $white;
      }

      .separator {
        color: rgba($black, .25);
      }
    }
  }

  &__inner {
    align-self: center;
    background: $black;
    display: flex;
    float: left;
    padding: 1rem;
    transform-origin: center center;
    transition: $fast-animated;

    @include breakpoint(medium) {
      padding: 1rem;
    }
  }

  &__link {
    align-items: center;
    color: $white;
    display: flex;
    font-family: $header-font-family;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  &__name {
    align-items: center;
    color: $white;
    display: flex;
    font-family: $header-font-family;
    justify-content: center;
    text-align: center;
    width: 100%;

    img {
      height: auto;
      width: 100%;
    }
  }

  &__title,
  &__alt-title {
    margin: 0 auto;
  }

  &__jobs {
    background: transparent;
    color: transparent;
    font-size: .9rem;
    left: 0;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    text-align: left;
    top: 0;
    transform: rotateY(-180deg);
    transition: color .5s, opacity .5s;
    z-index: 0;
    height: 100%;
      width: 100%;

    @include breakpoint(xxlarge) {
      padding: 1.5rem;
    }

    .np-button {
      bottom: 1rem;
      margin: 1.5rem 0 0 auto;
      opacity: 0;
      position: absolute;
      right: 1rem;
      transition: opacity .5s;

      @include breakpoint(xxlarge) {
        bottom: 1.5rem;
        right: 1.5rem;
      }
    }

    p {
      margin: 0;
    }
  }
}

