.pillole {
  width: 100%;

  &__inner {
    @include flex-grid-row();
  }

  .pillola {
    @include flex-grid-column(12, 0);
    color: $white;
    padding: 0 1rem;
    text-align: center;
    width: 100%;

    @include breakpoint(medium down) {

      &:first-child {
        padding-top: 2rem;
      }

      &:last-child {
        padding-bottom: 5rem;
      }
    }

    @include breakpoint(medium) {
      @include flex-grid-column(4, 0);
      padding: 2rem 1.25rem 5rem;
    }

    @include breakpoint(large) {
      padding: 1rem 2rem 5rem;
    }

    &__number {
      color: $np-mint;
      font-family: $header-font-family;
      font-size: 4rem;
      margin: 1rem auto;
      width: 100%;
    }

    &__title {
      color: inherit;
      font-family: $header-font-family;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
      width: 100%;

      @include breakpoint(medium) {
        font-size: 1.5rem;
      }

      @include breakpoint(large) {
        font-size: 2rem;
      }
    }

    &__txt {
      font-size: 1.1rem; 
    }
  }
}