.progetti-correlati,
.progetti-adiacenti {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1rem .5rem;
  width: 100%;

  @include breakpoint(medium) {
    padding: 0 1rem 1rem;
  }

  @include breakpoint(xlarge) {
    padding: 0 1rem 1rem;
  }

  &__inner {
    @include flex-grid-column(12, 0);
    width: 100%;
  }

  .progetto {
    padding: .5rem 0;
    width: 100%;

    @include breakpoint(medium) {
      padding: 1rem;
    }

    .progetto__inner {
      height: 200px;
      left: 50%;
      margin: -100px;
      position: absolute;
      top: 50%;
      width: 200px;
    }

    @include progetti;

    &--rel-box3x2 {
      @include flex-grid-column(12, 0);

      @include breakpoint(large) {
        @include flex-grid-column(8, 0);
      }

      .progetto__thumb {
        height: auto;
        overflow: visible;

        @include breakpoint(medium only) {
          height: 400px;
          overflow: hidden;
        }

        @include breakpoint(large) {
          height: calc(100vw / 3 - 3rem);
          overflow: hidden;
        }
      }      
    }

    &--rel-box2x2 {
      @include flex-grid-column(12, 0);

      @include breakpoint(large) {
        @include flex-grid-column(4, 0);
      }

      .progetto__thumb {
        height: auto;
        overflow: visible;
        
        @include breakpoint(medium only) {
          height: 300px;
          overflow: hidden;
        }
      }
    }

    &--rel-box1x1 {
      @include flex-grid-column(12, 0);

      .progetto__inner {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      @include breakpoint(medium) {
        @include flex-grid-column(4, 0);
        height: 50%;

        .progetto__inner {
          width: 200px;
        }
      }

      @include breakpoint(large) {
        @include flex-grid-column(2, 0);
      }

      .progetto__inner {
        width: 100%;
      }
    }
  }
}

.progetti-adiacenti {
  padding: 2rem 1rem;
}

