.slideshow {
  /*overflow: hidden;*/
  height: auto;
  padding: 60px 0 0;
  width: 100%;

  &__inner {
    height: 75vh !important;
    max-height: 100%;

    @include breakpoint(medium) {
      height: auto !important;
      min-height: initial;      
    }

    .orbit-next {
      display: none;
      
      @include breakpoint(medium) {
        display: block;
      }

      &:hover {
        background: transparent;
      }

      &::before {
        content: url('../img/icons/right.svg');
      }
    }

    .orbit-previous {
      display: none;

      @include breakpoint(medium) {
        display: block;
      }

      &:hover {
        background: transparent;
      }

      &::before {
        content: url('../img/icons/left.svg');
      }
    }
  }

  .slide {
    height: 100%;
    max-height: 100% !important;

    @include breakpoint(medium down) {
      background: transparent !important;
    }

    &::before {
      background: inherit;
      content: '';
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    &__inner {
      display: flex;
      max-height: 100%;
      position: relative;
    }

    &__image {
      height: 100%;
      max-width: initial;
      position: relative;
      transform: translateX(-50%);
      width: auto;
      z-index: 0;

      @include breakpoint(medium) {
        height: auto;
        max-width: 100%;
        transform: translateX(0);
        width: 100%;        
      }
    } 

    &__caption {
      @include flex-grid-row();
      align-items: flex-end;
      bottom: 0;
      left: 0;
      margin: auto;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 2;

      @include breakpoint(medium) {
        padding: 0 4rem;
      }

      @include breakpoint(large) {
        align-items: center;
        padding: 0;
      }

      @include breakpoint(1441px) {
        align-items: flex-end;
      }

      @include breakpoint(xxlarge) {
        align-items: center;
      }
    }
  }

  .caption {

    &__inner {
      @include flex-grid-column(12, 0);
      @include grid-column-offset(0);
      background: rgba($white, .85);
      padding: .5rem 1rem;

      @include breakpoint(medium) {
        @include flex-grid-column(10, 0);
        @include grid-column-offset(1);
        padding: 2rem;
      }

      @include breakpoint(large) {
        background: transparent;
        padding: 6rem 0 2rem;
      }

      @include breakpoint(large) {
        @include flex-grid-column(6, 0);
      }

      @include breakpoint(1441px) {
        @include grid-column-offset(0);
      }
    }

    &__title {
      @include flex-grid-column(12, 0);
      color: inherit;
      font-size: 1.25rem;
      margin: 1rem 0;
      width: 100%;

      @include breakpoint(large) {
        font-size: 1.5rem;
      }
    }

    &__txt {
      @include flex-grid-column(12, 0);
      color: inherit;
      font-family: $header-font-family;
      font-size: 1.75rem;
      margin: 0;
      width: 100%;

      @include breakpoint(medium) {
        font-size: 2.5rem;
        margin: 1rem 0 2rem;
      }

      @include breakpoint(large) {
        font-size: 3rem;
      }

      * {
        font-size: 1.75rem;
        line-height: 2.25rem;

        @include breakpoint(medium) {
          font-size: 2.1rem;
          line-height: 2.5rem;
        }

        @include breakpoint(large) {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }
    }

    &__link {
      text-align: center;
      margin: 0 0 1rem;

      @include breakpoint(medium) {
        text-align: left;
        margin: 1rem 0;
      }

      * {
        font-size: 1rem;
        margin: 0 auto;
        text-transform: uppercase;

        @include breakpoint(medium) {
          font-size: 1.25rem;
        }
      }
    }
  }
}
