<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/css/app.css" />
    {% include 'partials/seo.html' %}
    <link rel="shortcut icon" type="image/ico" href="{% if not data.acf.favicon %}{{"assets/img/favicon.jpg"}}{% else %}{{data.acf.favicon}}{% endif %}" />
    <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">
  </head>
  {% include 'partials/analytics.html' %}
  <body itemscope itemtype="http://schema.org/LocalBusiness">
  <header>
    {% block header %} {% endblock %}
  </header>
    <div class="page-container">
      {% block content %}{% endblock %}
    </div>
    {% block footer %} {% endblock %}

    {% include 'partials/hotjar.html' %}
    {% include 'partials/facebookpixel.html' %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://use.typekit.net/gvc8drn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script type="text/javascript" src="assets/js/app.js"></script>
  </body>
</html>
