{% extends "app.html" %}

{% block content %}
 {% if data.acf.landing_builder|length > 0 %}
    {% for component in data.acf.landing_builder if not component.header and not component.footer %}
    {#
        {% if component.acf_fc_layout == "header" or component.acf_fc_layout == "socialbar" %}
        {% include 'components/' ~ component.acf_fc_layout ~ '.html' %}
        {% endif %} #}
    {% endfor %}
  {% endif %}

  <div class="page">
      <div class="page__inner">
          <div class="page__txt">
              <article>
                  <h1>{{page.title.rendered}}</h1>
                  {{page.content.rendered | raw}}
              </article>
          </div>
      </div>
  </div>
{% endblock %}
{% block footer %}
  {% if data.acf.landing_builder.footer|length > 0 %}
    {% include 'components/footer.html' %}
  {% endif %}
{% endblock %}
