{% extends "app.html" %}

{% block head %}
    {% include 'components/style.html' %}
{% endblock %}

{% block content %}
    {% if data.acf.landing_builder|length > 0 %}
    {% for component in data.acf.landing_builder %}
        {% if component.acf_fc_layout == 'header' %}
          {% include 'components/' ~ component.acf_fc_layout ~ '.html' %}
        {% endif %}
    {% endfor %}
  {% endif %}
  <!-- Redirect -->
  <meta http-equiv="refresh" content="4; url=/" />
  <script type="text/javascript">
    ga('send', 'event', 'conversione', 'submit', 'Conversione landing {{versione}}', 1);
  </script>
  <div class="page--thankyou">
    <div class="testo thankyou">
      <div class="testo__inner">
        <div class="testo__txt text-center">
          <h1>{{message}}</h1>
          <p>{{long_message | raw}}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% if data.acf.landing_builder|length > 0 %}
    {% for component in data.acf.landing_builder %}
      {% if component.acf_fc_layout == 'footer' %}
        {% include 'components/' ~ component.acf_fc_layout ~ '.html' %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
